@model BookStoreMvc.Models.Domain.Book

@{
}
@Html.ValidationSummary()
<form class="w-40" asp-action="Edit" method="post" enctype="multipart/form-data">
    <h2 class="pb-10">Update Book</h2>
    <input type="hidden" class="input" asp-for="Id">
    <input type="hidden" class="input" asp-for="BookImage">

    <div class="input-container">
        <label asp-for="Title" class="w-40">Title</label>
        <input type="text" class="input" asp-for="Title">
    </div>
    <div class="message-box pd-x-28 error">
        <span asp-validation-for="Title"> </span>
    </div>

    <div class="input-container">
        <label asp-for="Author" class="w-40">Image</label>
        <input type="file" asp-for="ImageFile">
    </div>
    <div class="message-box pd-x-28 error">
        <span asp-validation-for="ImageFile"> </span>
    </div>

    <div class="input-container">
        <label asp-for="Genres" class="w-40">Genre</label>
        <select asp-items="Model.MultiGenreList" class="input" asp-for="Genres" multiple>
            <option value="">--select--</option>
        </select>
    </div>
    <div class="message-box pd-x-28 error">
        <span asp-validation-for="Genres"> </span>
    </div>

    <div class="input-container">
        <label asp-for="PublishYear" class="w-40">Publish Year</label>
        <input type="text" class="input" asp-for="PublishYear">
    </div>
    <div class="message-box pd-x-28 error">
        <span asp-validation-for="PublishYear"> </span>
    </div>

    <div class="input-container">
        <label asp-for="Publisher" class="w-40">Publisher</label>
        <input type="text" class="input" asp-for="Publisher">
    </div>
    <div class="message-box pd-x-28 error">
        <span asp-validation-for="Publisher"> </span>
    </div>

    <div class="input-container">
        <label asp-for="Author" class="w-40">Author</label>
        <input type="text" class="input" asp-for="Author">
    </div>
    <div class="message-box pd-x-28 error">
        <span asp-validation-for="Author"> </span>
    </div>

    @if (TempData["msg"] != null)
    {
        <div class="alert mb-1">
            @TempData["msg"]
        </div>
    }

    <div class="input-container">
        <button class="btn btn-default" type="submit">Save</button>
        <a class="btn btn-sec" href="/Book/BookList">All records</a>
    </div>
</form>